body {
    background-color: rgba(32, 33, 36, 1);
    margin: 0;
}

.profile-image {
    border-radius: 15px;
}

.navbar {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    padding: 6px;
    font: 13px/27px Arial, sans-serif
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

.navbar-item {
    padding: 10px;
}

.navbar-item img.profile-image {
    vertical-align: middle;
}

.search-bar {
    border: 1px solid #5f6368;
    display: flex;
    width: 500px;
    align-items: center;
    height: 40px;
    border-radius: 24px;
}

.search-bar:hover {
    background-color: #303134;
}

.button {
    background-color: #303134;
    justify-content: space-between;
    color: #e8eaed;
    text-align: center;
    border: 1px solid #303134;
    border-radius: 4px;
    font-size: 15px;
    font-family: arial,sans-serif;
    margin: 5px 8px;
    height: 36px;
    width: 150px;
}